@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;1,300;1,500&family=Maven+Pro:wght@400;500&display=swap');
/*font-family: 'Maven Pro', sans-serif;
font-family: 'Exo 2', sans-serif;*/

*{
    list-style: none;
    margin: 0px 0px;
    padding-inline-start: 0;
    text-decoration-color: none;
}
/* Parte de arriba antes del menú */
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1450px;
    height: 75px;
    background-color: #F5F7F2;
} /* fondo */

header > img{
    position: absolute;
    top: 16px;
    left: 18px;
    width: 160px;
    height: 48px;
} /* logo de arriba */

.cuenta > li a{
    display: inline-block;
    position: absolute;
    top: -17px;
    left: 741px;
    width: 222px;
    height: 17px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration-color: none;
} /* Iniciar sesión y registrate */

.cuenta > li{
    display: inline-block;
    position: relative;
    top: 37px;
    left: 189px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
} /* This is lo que va a un lado del logo arriba */




.menu nav{
    display: inline-block;
    position: absolute;
    top: 74px;
    background-color: #4C4C4A;
    height: 89px;
    width: 100%;

} /* This is menu */

.menu > nav li{
    display: inline-block;
    margin-left: 18px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width:220px;
    color: white;
    
} /* This is lo que va al lado del menú */

.menu > nav > li > a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 35px 10px;
} /* This is el menú */

.menu li a:hover {
    background-color: #5BC471;
    padding: 35px 10px;
    cursor: pointer;
    transition: all .3s;
}

.despliegue {
    width: 100%;
    height: 317px;
    display: none;
    left: 0;
    position: absolute;
    background: #F5F7F2;
    opacity: 0;
    transition: opacity 1s;
}   /*Info general despliegue*/

.despliegue li a {
    display: inline;
    font-family: Exo 2;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.despliegue li a:hover{
    color: #5BC471;
    background: none;
    padding: 0 0;
}

.despliegue > ul >li{
    margin-left: 141px;
    font-family: Exo 2;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding: 15px 141px;
    margin: 0;
    width: 1168px;
    background-color: #5BC471;
}

/*Las pruebas son la posición de cada item dentro del despliegue de la barra del navegador*/
.prueba1 {
    position: absolute;
    width: 347px;
    height: 35px;
    left: 487px;
    top: 108px;
    margin: 0 0;
    padding: 0 0;
}
.prueba2 {
    position: absolute;
    width: 347px;
    height: 35px;
    left: 487px;
    top: 153px;
    margin: 0 0;
    padding: 0 0;
}
.prueba3 {
    position: absolute;
    width: 347px;
    height: 35px;
    left: 487px;
    top: 198px; 
}
.prueba4{
    position: absolute;
    width: 347px;
    height: 35px;
    left: 487px;
    top: 243px;
}
.prueba5{
    position: absolute;
    width: 347px;
    height: 35px;
    left: 853px;
    top: 109px;
}
.prueba6{
    position: absolute;
    width: 345px;
    height: 35px;
    left: 852px;
    top: 152px;
}
.prueba7{
    position: absolute;
    width: 345px;
    height: 35px;
    left: 853px;
    top: 199px;
}
.prueba8{
    position: absolute;
    width: 345px;
    height: 35px;
    left: 853px;
    top: 243px;
}

.menu li:hover .despliegue{
    opacity: 1;
    display: block;
}
/*el aparecer del despliegue*/


.iconopq{
    margin-top: 37px;
    margin-left: 141px;
    height: 119px;
    display: inline-block;
} /*This is icono pequeño navegador*/















/* Colabora arriba a la derecha */
.colabora{
    position: absolute;
    top: 194px;
    left: 1187px;
    width: 194px;
    height: 19px;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #178E28;
} /* Colabora con nosotros */

.colabora a {
    text-decoration: none;
    color: #178E28;
    
}

.colabora img{
    position: absolute;
    top: -9px;
    left: 200px;
} /* imagen colabora */



/* Logo + eslogan */
.logo{
    position: absolute;
    top: 234px;
    left: 0px;
    background: #F5F7F2;
    width: 1450px; 
    height: 565px;
} /* Fondo */

h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 103px;
    width: 591px;
    height: 234px;
    color: #1E6D2D;
    position: absolute;
    top: 146px;
    left: 728px;
    display: flex;
    align-items: center;
} /* letras */

body .logo img{
    position: absolute;
    top: 60px;
    left: 130px;
}  /* Logo grande */



/* Bienvenida */
.bienvenida{
    position: absolute;
    top: 863px;
    left: 0px;
    background:  #F5F7F2;
    width: 1450px; 
    height:468px;
}

h2 {
    position: absolute;
    top: 87px;
    left: 124px;
    width: 1071px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #1E6D2D;
} /* This is Títulos de las páginas */

p{
    position: absolute;
    top: 147px;
    left: 124px;
    width: 1071px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: black;
} /* This is texto:) */



/* Menú de abajo o algo asi:) */
.rpatrones .titulo{
    position: absolute;
    top: 1367px;
    left: 124px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #1E6D2D;
} /* titulo de la sección:) */

.rpatrones .titulosl li{
    text-decoration: none;
    text-transform: none; 
    list-style: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.rpatrones .titulosl .rp1{
    position: absolute;
    top: 1672px;
    left: 138px;
}

.rpatrones .titulosl .rp2{
    position: absolute;
    top: 1672px;
    left: 393px;
}

.rpatrones .titulosl .rp3{
    position: absolute;
    top: 1672px;
    left: 639px;
}

.rpatrones .titulosl .rp4{
    position: absolute;
    top: 1672px;
    left: 875px;
}

.rpatrones .titulosl .rp5{
    position: absolute;
    top: 1672px;
    left: 1125px;
}

.rpatrones .i1{
    position:absolute;
    top:1495px;
    left:123px;
    padding: 38px 47px 61px 47px;
    background: #333333;
    border-radius: 20px 20px 0px 0px;
}

/* .rpatrones .i1:hover{
    display: block;
    color: #333333;
    opacity: 0.95;
    transition: 0.5s;
} */


/* display: none;
.bla a:hover{}
display: block; */



/* Listas del menú de abajo */
.rpatrones a{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    text-decoration: none;
    color: #000000;
}

.rpatrones .sublista1{
    list-style: none;

    position: absolute;
    width: 223px;
    height: 448px;
    left: 123px;
    top: 1708px;
    
    background: #F5F7F2;
    border-radius: 0px 0px 20px 20px;
}
.sublista1 .rp11{
    position: absolute;
    left: 13px;
    height: 371.1px; 
} 


.rpatrones .sublista2{
    list-style: none;

    position: absolute;
    width: 223px;
    height: 448px;
    left: 366px;
    top: 1708px;
    
    background: #F5F7F2;
    border-radius: 0px 0px 20px 20px;
}
.sublista2 .rp21{
    position: absolute;
    left: 13px;
    width: 200px;
    height: 371.1px; 
} 

.rpatrones .sublista3{
    list-style: none;

    position: absolute;
    width: 223px;
    height: 448px;
    left: 609px;
    top: 1708px;

    background: #F5F7F2;
    border-radius: 0px 0px 20px 20px;
}
.rpatrones .rp31{
    position: absolute;
    left: 13px;
    width: 198px;
    height: 371.1px;
}

.rpatrones .sublista4{
    list-style: none;

    position: absolute;
    width: 223px;
    height: 448px;
    left: 852px;
    top: 1708px;

    background: #F5F7F2;
    border-radius: 0px 0px 20px 20px;
}
.rpatrones .rp41{
    position: absolute;
    left: 13px;
    width: 198px;
    height: 371.1px;
}

.rpatrones .sublista5{
    list-style: none;

    position: absolute;
    width: 223px;
    height: 448px;
    left: 1095px;
    top: 1708px;

    background: #F5F7F2;
    border-radius: 0px 0px 20px 20px;
}
.rpatrones .rp51 a{
    position: absolute;
    left: 13px;
    width: 198px;
    height: 371.1px;
}



/* FOOOOOOOOOOOTER */
footer{
    background: #C4C4C4;    
    position: absolute;
    width: 1450px;
    height: 306px;
    left: 0px;
    top: 2236px;
}

footer .cr{
    position: absolute;
    width: 345px;
    height: 44px;
    left: 0px;
    top: 216px;

    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
footer .cr2{
    position: absolute;
    width: 354px;
    height: 44px;
    left: 1095px;
    top: 216px;

    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

footer .cr3{
    position: absolute;
    width: 56px;
    height: 41px;
    left: 1266px;
    top: 210px;    
}

footer .titulosfooter{
    position: absolute;
    width: 354px;
    height: 44px;
    top: 44px;

    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

footer .tfooter{
    position: absolute;
    width: 345px;
    height: 87px;
    left: 366px;
    top: 98px;

    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration-color: none;
}

footer .footerlinks{
    position: absolute;
    width: 345px;
    height: 17px;
    left: 852px;

    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    list-style: none;    
    text-transform: none;
    color: #000000;
}

footer a {
    text-decoration-color: none;
    color: #000000;
}
